button {
  outline: none;
  margin: 10px;
  border-width: 1px;
  border-radius: 2px;
  word-wrap: normal;
  border-color: #000;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}
